certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.1.1
Flask-SocketIO==4.2.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
kiwisolver==1.0.1
lz4==3.0.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mkl-fft
mkl-random
mkl-service
msgpack==1.0.0
numpy
phe==1.4.0
Pillow==6.2.2
protobuf==3.11.3
pyparsing==2.4.6
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
requests==2.22.0
scikit-learn==0.22.1
scipy
sip
six==1.14.0
syft
syft-proto
tblib
torch
torchvision
tornado==6.0.4
tqdm
urllib3==1.25.8
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.0
yappi==1.2.5
zstd==1.4.4.0
